---
import Base from "../layouts/Base.astro";
---

<Base title="flus.fm">
  <main class="h-full p-3 text-pink md:max-w-[50%]">
    <p class="mb-3">
      flus.fm is a community radio station based at FaVU. everything from the
      sounds to the technical infrastructure is as local as possible. the
      programming is made by us for us, while also creating oppurtunities for
      public promotion.
    </p>
    <p>
      flus.fm is a research platform for experimenting with new forms of sound
      and music production, distribution and presentation, while exploring the
      potential of radio as a medium.
    </p>
  </main>
</Base>
