---
import Base from "../layouts/Base.astro";
---

<Base title="flus.fm links">
  <main class="h-full overscroll-contain text-pink p-3 h-prose">
    <h1 class="text-xl">FaVU</h1>
    <ul class="pl-3">
      <li>
        <a class="underline" href="https://favu.vutbr.cz">website</a>
      </li>
      <li>
        <a class="underline" href="https://instagram.com/favu_brno">Instagram</a
        >
      </li>
    </ul>
    <h1 class="text-xl">favulabel</h1>
    <ul class="pl-3">
      <li>
        <a class="underline" href="https://instagram.com/favulabel">Instagram</a
        >
      </li>
      <li>
        <a class="underline" href="https://favulabel.bandcamp.com">Bandcamp</a>
      </li>
    </ul>
    <h1 class="text-xl">shows</h1>
    <h2 class="text-lg pl-3">slovem</h2>
    <ul class="pl-6">
      <li>
        <a class="underline" href="https://instagram.com/jsme.slovem"
          >Instagram</a
        >
      </li>
    </ul>
    <h2 class="text-lg pl-3">Brno Gs</h2>
    <ul class="pl-6">
      <li>
        <a class="underline" href="https://instagram.com/brno_gs">Instagram</a>
      </li>
      <li>
        <a
          class="underline"
          href="https://podcasts.apple.com/us/podcast/brno-gs/id1726730284"
          >Apple Podcast</a
        >
      </li>
      <li>
        <a
          class="underline"
          href="https://open.spotify.com/show/54AqMyNXB2ikRvk7hN9GZV">Spotify</a
        >
      </li>
    </ul>
  </main>
</Base>
