---
import Base from "../layouts/Base.astro";
import ScheduleCalendar from "../components/ScheduleCalendar.astro";
---

<Base title="flus.fm schedule">
  <main class="mt-20">
    <ScheduleCalendar />
  </main>
</Base>
