---
interface Props {
  title: string;
}
import Radio from "../components/Radio.astro";
import { Image } from "astro:assets";
import logoImage from "../images/logo.png";

const pathname = new URL(Astro.url).pathname;
const currentPath = pathname.endsWith("/")
  ? pathname.slice(1, -1)
  : pathname.slice(1); // remove the first "/" and the last "/" if there are no characters following it
const { title } = Astro.props;
---

<header
  class="fixed top-0 left-0 h-fit w-full flex flex-col md:flex-row bg-black text-white"
>
  <div
    class="w-full flex flex-row border-b-grey border-b-[10px] order-2 md:order-1"
  >
    <Image
      src={logoImage}
      alt="flus.fm logo"
      loading="eager"
      widths={[100, 200]}
      sizes={`(max-width: 768px) 100px, 200px`}
      class="max-h-[100px] md:min-h-[200px] max-w-[100px] md:min-w-[200px]"
    />
    <div
      class="p-1 md:p-3 pb-0 md:pb-0 pr-1 md:pr-1 flex flex-col justify-between w-full"
    >
      <nav>
        <ul class="flex flex-col">
          <li>
            <a
              class={currentPath === "" ? "font-bold" : ""}
              href="/"
              data-astro-prefetch
            >
              <h1>flus.fm</h1>
            </a>
          </li>
          <li>
            <a
              class={currentPath === "schedule" ? "font-bold" : ""}
              href="/schedule">schedule</a
            >
          </li>
          <li>
            <a
              class={currentPath === "links" ? "font-bold" : ""}
              href="/links"
              data-astro-prefetch="viewport">links</a
            >
          </li>
        </ul>
      </nav>
      <span class="text-xs w-full text-right"
        >community radio @ favu, brno, est. 2024</span
      >
    </div>
  </div>
  <Radio />
</header>
