---
interface Props {
  title: string;
}
import Player from "../components/Player.astro";
import { Image } from "astro:assets";
import logoImage from "../images/logo.png";

const pathname = new URL(Astro.request.url).pathname;
const currentPath = pathname.slice(1); // remove the first "/"
const { title } = Astro.props;
---

<style>
  .label {
    border-radius: 0.1rem;
    padding: 0.1rem 0.2rem;
    background: #f0f1f4;
    color: #5b657a;
    display: inline-block;
  }
  .label.label-success {
    background: #32b643;
    color: #fff;
  }
  .label.label-error {
    background: #e85600;
    color: #fff;
  }

  /* song progress overlay, cross-browser styling of the <progress> element */
  progress {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    height: 10px;
    bottom: 0;
    right: 0;
    border: none;
    color: #a5609f;
    background: #ebebeb; /* Firefox: unfilled portion */
    font-size: 0.625em;
  }
  progress::-moz-progress-bar {
    background: currentColor; /* Firefox: Filled portion */
  }
  progress::-webkit-progress-bar {
    background: #ebebeb; /* Chrome/Safari: Unfilled portion */
  }
  progress::-webkit-progress-value {
    background: currentColor; /* Chrome/Safari: Filled portion */
  }

  /* simple progressbar (just a <div>), using width % */
  .progressbar {
    height: 10px;
    background-color: #a5609f;
    transition: width 2s linear; /* make smoother */
  }
</style>
<header
  class="fixed top-0 left-0 h-fit w-full flex flex-col md:flex-row bg-black text-white"
>
  <div
    class="w-full flex flex-row border-b-[#E8E8E8] border-b-[10px] order-2 md:order-1"
  >
    <Image
      src={logoImage}
      alt="flus.fm logo"
      widths={[100, 200]}
      sizes={`(max-width: 768px) 100px, 200px`}
      class="max-h-[100px] md:min-h-[200px] max-w-[100px] md:min-w-[200px]"
    />
    <div
      class="p-1 md:p-3 pb-0 md:pb-0 pr-1 md:pr-1 flex flex-col justify-between w-full"
    >
      <nav>
        <ul class="flex flex-col">
          <li>
            <a class={currentPath === "" ? "font-bold" : ""} href="/">
              <h1>flus.fm</h1>
            </a>
          </li>
          <li>
            <a
              class={currentPath === "schedule" ? "font-bold" : ""}
              href="/schedule">schedule</a
            >
          </li>
          <li>
            <a class={currentPath === "links" ? "font-bold" : ""} href="/links"
              >links</a
            >
          </li>
        </ul>
      </nav>
      <span class="text-xs w-full text-right"
        >community radio @ favu, brno, est. 2024</span
      >
    </div>
  </div>
  <div
    class="w-full relative flex pb-[10px] md:pb-0 flex-col order-1 md:order-2"
  >
    <div class="flex-row flex">
      <img
        class="np-flus-fm-song-albumart h-[100px] md:h-[200px] aspect-square"
        alt="Albumcover"
        src=""
      />
      <div class="flex-col flex justify-between w-full">
        <div class="text-ellipsis text-left p-1 md:p-3">
          <strong><span class="np-flus-fm-song-title">Title</span></strong><br
          />
          <span class="np-flus-fm-song-artist text-ellipsis">Interpret</span><br
            class="hidden md:block"
          /><span class="md:hidden"> |</span>
          <span class="np-flus-fm-show-name">Show</span>
          <!-- add some indicators after the show name -->
          <small
            ><span class="np-flus-fm-show-islive label label-error">Live</span
            ></small
          >
        </div>
        <Player />
      </div>
    </div>
    <div class="absolute bottom-[10px] text-xs right-1 text-pink">
      <span class="np-flus-fm-song-elapsed"></span> /
      <span class="np-flus-fm-song-duration"></span>
    </div>
    <progress class="np-flus-fm-song-progress absolute w-full"></progress>
  </div>
</header>
