---

---

<div
  class="prose dark:prose-invert
  prose-h1:font-bold prose-h1:text-xl prose-h2:text-lg
  prose-headings:mb-1 prose-headings:mt-1 prose-ul:m-0 prose-li:m-0 prose-pink prose-headings:font-normal
 prose-p:text-justify prose-img:rounded-xl p-1 md:p-3 md:max-w-[50%] text-pink prose-headings:text-pink prose-a:text-pink"
>
  <slot />
</div>
