---
interface Props {
  title: string;
}
import Header from "../components/Header.astro";

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="bg-black text-white h-screen">
    <Header title={title} />
    <main class="h-full flex flex-col">
      <div class="min-h-[220px] md:min-h-[210px]"></div>
      <slot />
    </main>
    <script is:inline src="/public/sse_cf.js"></script>
  </body>
</html>
